/**
 * Custom JS for image uploading
 * @package SparklewpThemes
 * @subpackage metrostore 
 */
.screenshot img {
    width: 100%;
    border-radius: 10px;
    padding: 5px 0px;
}
.remove-image {
    cursor: pointer;
}

.metrostore-multiplecat {
	height: 200px;
	overflow: auto;
	border: 1px solid #ccc;
	padding: 0px 10px;
	margin-top: 5px;
}

#metrostore-img-container li label {
    display: inherit !important;
    margin-left: 0px !important;
}
 #metrostore-img-container .metrostore-radio-img-img {
    border: 3px solid #DEDEDE;
    margin: 10px 4px 5px 0;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width:45%;
 }
 #metrostore-img-container .metrostore-radio-img-selected {
     border: 3px solid #AAA;
     border-radius: 3px;
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
 }
 input[type=checkbox]:before {
   content: '';
     margin: -3px 0 0 -4px;
 }

/* Widget Group Area */
 .metrostore-main-group {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}
.metrostore-main-group-heading {
    margin-top: -10px;
}